<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Order List</title>
</head>
<body>
<section>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card custom-card-shadow">
          <div class="card-header text-center fs-4">Order List</div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Payment</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="order, count : ${orders}">
                <th scope="row">[[${count.count}]]</th>
                <td th:text="${order.orderId}">ORD001</td>
                <td th:text="${order.orderDate}">2025-04-17</td>
                <td th:text="${order.paymentType}">Credit Card</td>
                <td th:text="${order.quantity}">2</td>
                <td th:text="${order.price}">25.49</td>
                <td th:text="${order.status}">Pending</td>
                <td>
                  <a th:href="@{'/admin/order/' + ${order.orderId}}" class="btn btn-info btn-sm">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                  <a th:href="@{'/admin/update-order-status?orderId=' + ${order.orderId}}" class="btn btn-success btn-sm">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td>
              </tr>
              <tr th:if="${#lists.isEmpty(orders)}">
                <td colspan="8" class="text-center">No orders found.</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
